<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiscountMate</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700&display=swap">
    <link rel="stylesheet" type="text/css" href="../libs/bootstrap.css">
    
</head>

<body>

<!-- design the header section containing the logo and navigation bar -->

    <div class="header">
       
    
        <h2 class="logo">
            <a href="/index">DiscountMate</a> 
        </h2>

        <div class="nav">
            <div class="first">
                <a href="/index">Home</a>
            </div>
        
            <div class="second">
                <a href="#">Shopping List</a>
            </div>
        
            <div class="third">
                <a href="#">Recipe</a>
            </div>
        
            <div class="forth">
                <a href="#">Checkout</a>
            </div>
        
            <div class="fifth">
                <a href="/login">Log In/Log up</a>
            </div>


        </div>
    
        
    
    </div>