<html>
    <head>
        <title>DiscountMate App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/design.css">
    </head>

    <body>
        <h1 id="searchh1" class="text-center">Scrape The Item</h1>

        <form action="/scrapeResults" method="GET" class="justify-content-center d-flex">
            <input type="text" name="search" class="form-control w-25" placeholder="Enter url here">
            <button class="ml-3 text-center btn btn-success">Search</button>
        </form>

    </body>
</html>